header{
    position: fixed;
    top: 1.5rem; left: 8rem; right: 8rem;
    background-color: #ffffff;
    padding: 0.2rem 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 15rem;
    img{
        width: 10%;
        position: relative;
        left: 2rem;
        bottom: 5px;
    }
}  

    #toggler{
        display: none;
    }
    .fa-bars{
        font-size: 3rem;
        color: #4b4a4a;
        border-radius: .5rem;
        cursor: pointer;
        display: none;
    }
        .navbar li{
            position: relative;
            right: 2rem;
            bottom: 0rem;
            font-size: 20px;
            padding: 0 0 0 0rem;
            color: #0f0f0f;
            display: inline-block;
            padding: 25px 30px 25px;
        }
            li{
                list-style-type: none;
                font-family: 'Nanum Pen Script', cursive;
            }
            a{
                text-decoration: none;
                color: #0f0f0f;
            }
            a:hover{
                color: #D0EBD4 ; 
            }
        .icons a{
            font-size: 1.5rem;
            color: #0f0f0f;
            margin-left: 1.5rem;
            position: relative;
            bottom: 0rem;
            right: 5rem;
        }
        .icons a:hover{
            color: #D0EBD4;
        }
