.newsletter__container{
    margin: 0rem;
    padding: 0rem;
    background: transparent;
    position: relative;
    top: 12rem;
    left: 11rem;
}
    .newsletter{
        display: grid;
        grid-template-columns: 30% 30% 40%;
        grid-template-rows: min-content;
        grid-template-areas: 
        "titulo titulo img"
        "form form img"
        "form form img";
        .newsletter_title{
            grid-area: titulo;
            color: #0f0f0f;
            font-family: 'Cherry Bomb One', cursive;
            position: relative;
            left: 5rem;
        }
        .form-newsletter{
            grid-area: form;
            width: 50rem;
            height: 12rem;
            border-radius: 40px;
            background-color: #f5eead;
            border: none rgba(0, 0, 0, 0.1);
            outline: none;
            font-size: 1rem;
            font-weight: 20rem;
            position: relative;
            left: 1rem;
        }
            .title-label-main{
                font-size: 2rem;
                font-family: 'Cherry Bomb One', cursive;
                position: relative;
                left: 18rem;
            }
            .input-newsletter{
                width: 96%;
                margin: 1rem;
                height: 2.2rem;
                border-radius: 2rem;
            }
            .boton-newsletter{
                width: 50%;
                position: relative;
                left: 12rem;
                top: .5rem;
                background-color: #9b2323;
                border-radius: 40px;
                border: transparent;
                height: 2.5rem;
                font-family: 'Short Stack', cursive;
            }
            .checkbox-newsletter{
                position: relative;
                left: 10rem;
            }
            .title-label{
                font-family: 'Short Stack', cursive;
                position: relative;
                left: 10rem;
            }
        .newsletter__image{
            grid-area: img;
            background-position: center;
            width: 59%;
            margin-left: 2rem;
        }
    }


