
.quieneSomos{
    position: relative;
    top: 10rem;
    background-color: transparent;
    width: 100%;
    .quieneSomos__container{
        margin: 5rem;
        p{
            font-size: 1.2rem;
            background-color: aliceblue;
            padding: 1rem;
            border-radius: 20px;
            box-shadow: 1rem 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
            font-family: 'Nanum Pen Script', cursive;
        }
        h2{
            font-size: 2rem;
            color: aqua;
            font-family: 'Cherry Bomb One', cursive;
            text-align: center;
        }
    }
    .quieneSomos__container2{
        margin: 5rem;
        display: flex;
            .quieneSomos__image{
                width: 20rem;
                position: relative;
                right: 2rem;
                bottom: 1rem;
            }
            p{
                background-color: aliceblue;
                border-radius: 20px;
                padding: 1rem;
                box-shadow: 1rem 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
                font-size: 1.2rem;
                font-family: 'Nanum Pen Script', cursive;
                text-align: center;
                text-align: justify;
            }
            h3{
            font-size: 2rem;
            color: aqua;
            font-family: 'Cherry Bomb One', cursive;
            text-align: center;
            span{
                color: red;
            }
        }
    }
}
